<%= stylesheet_link_tag 'trucks', media: 'all', 'data-turbo-track': 'reload' %>

<div class="page-content">
  <h1 class="page-heading">Your Trucks</h1>

  <!-- Add New Truck button, always visible -->
  <div class="add-truck-button">
    <%= link_to "Add New Truck", new_truck_path, class: "btn btn-create" %>
  </div>

  <% if @trucks.empty? %>
    <p class="intro-message">You don't have any trucks listed yet. Start by adding one!</p>
  <% else %>
    <table class="truck-table">
      <thead>
        <tr>
          <th>Truck Photo</th>
          <th>Truck Title</th>
          <th>Description</th>
          <th>Price per Day</th>
          <th>Location Postcode</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @trucks.each do |truck| %>
          <tr>
            <td>
              <%= image_tag truck.photo.attached? ? url_for(truck.photo) : asset_path('default_truck_logo.png'), alt: truck.title, class: "truck-photo", size: "80x80" %>
            </td>
            <td><%= link_to truck.title, truck_path(truck) %></td>
            <td><%= truck.description %></td>
            <td>$<%= truck.price %></td>
            <td><%= truck.postcode %></td>
            <td>
              <%= link_to "Edit", edit_truck_path(truck), class: "btn btn-edit" %>
              <%= link_to "Delete", truck_path(truck), method: :delete, data: { confirm: "Are you sure you want to delete this truck?" }, class: "btn btn-cancel" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
</div>
