<%= stylesheet_link_tag 'trucks', media: 'all', 'data-turbo-track': 'reload' %>

<div class="page-content">
  <h1 class="page-heading">Your Trucks</h1>

  <!-- Add New Truck button, always visible -->
  <div class="add-truck-button">
    <%= link_to "Add New Truck", new_truck_path, class: "btn btn-create" %>
  </div>

  <% if @trucks.empty? %>
    <p class="intro-message">You don't have any trucks listed yet. Start by adding one!</p>
  <% else %>
    <table class="truck-table">
      <thead>
        <tr>
          <th>Truck Title</th>
          <th>Description</th>
          <th>Price per Day</th>
          <th>Location Postcode</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
<% @trucks.each do |truck| %>
  <tr>
    <td>
      <% if user_signed_in? %>
        <%= link_to truck.title, truck_path(truck) %>
      <% else %>
        <p>Please <%= link_to 'log in', new_user_session_path %> to view truck details.</p>
      <% end %>
    </td>
    <td><%= truck.description %></td>
    <td>$<%= number_to_currency(truck.price) %></td>
    <td><%= truck.postcode %></td>
    <td>
      <% if user_signed_in? %>
        <%= link_to "Edit", edit_truck_path(truck), class: "btn btn-edit" %>
        <%= link_to "Delete", truck_path(truck), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-cancel" %>
      <% else %>
        <p>Please <%= link_to 'log in', new_user_session_path %> to manage trucks.</p>
      <% end %>
    </td>
  </tr>
<% end %>
      </tbody>
    </table>
  <% end %>
</div>
