<%= stylesheet_link_tag 'trucks_show', media: 'all', 'data-turbo-track': 'reload' %>

<div class ="whole-page">
  <h1><strong>Truck Details 🚚</strong></h1>

  <div class="truck-details">
    <%= image_tag @truck.photo.attached? ? url_for(@truck.photo) : asset_path('default_truck_logo.png'), alt: @truck.title, class: "truck-photo", size: "80x80" %>
    <h2><strong><%= @truck.title %></strong></h2>
    <p><strong>Price per Day:</strong> $<%= @truck.price %></p>
    <p><strong>Description:</strong> <%= @truck.description %></p>
    <p><strong>Location Postcode:</strong> <%= @truck.postcode %></p>

    <%= link_to "Make a New Booking", new_truck_booking_path(@truck), class: "btn btn-create" %>
  </div>

  <div class="truck-actions">
    <%= link_to "Edit Truck", edit_truck_path(@truck), class: "btn btn-edit" %>
    <%= button_to "Delete Truck", cancel_truck_path(@truck), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-cancel" %>
    <%= link_to "Return to All Trucks", trucks_path, class: "btn btn-return" %>
  </div>

  <div class="bookings-truck">
    <h3><strong>Bookings for This Truck</strong></h3>
     <table class="booking-table">
        <thead>
          <tr>
            <th>Start Date</th>
            <th>End Date</th>
          </tr>
        </thead>
        <tbody>
          <% @truck.bookings.each do |booking| %>
            <tr>
              <td><%= booking.start_date %></td>
              <td><%= booking.end_date %></td>
            </tr>
        </tbody>
      </table>
        <div class="booking-options">
          <%= link_to "Update Booking", edit_booking_path(booking), class: "btn btn-edit" %>
          <%= link_to "Delete Booking", booking_path(booking), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-cancel" %>
        </div>
      <% end %>
    </ul>
  </div>
</div>
