<%= stylesheet_link_tag 'bookings/index', media: 'all', 'data-turbo-track': 'reload' %>

<div class="page-content">
  <h1 class="page-heading">Your Bookings</h1>

  <!-- Always-visible button to create a new booking -->
  <%= link_to "Create a New Booking", new_truck_booking_path(Truck.first), class: "btn btn-create" %>

  <div class="centered-content">
    <% if @bookings.empty? %>
      <p class="intro-message">You don't have any bookings yet. Start by creating one!</p>
    <% else %>
      <!-- List of Bookings -->
      <table class="booking-table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Postcode</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <% @bookings.each do |booking| %>
            <tr>
              <td><%= booking.truck.title %></td>
              <td><%= booking.truck.description %></td>
              <td><%= booking.truck.postcode %></td>
              <td><%= booking.start_date %></td>
              <td><%= booking.end_date %></td>
              <td>
                <%= link_to "Edit", edit_booking_path(booking), class: "btn btn-edit" %>
                <%= link_to "Cancel", booking_path(booking), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "btn btn-cancel" %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
  </div>
</div>
