<%= stylesheet_link_tag 'welcome', media: 'all', 'data-turbo-track': 'reload' %>

<div class="home-container">
  <div class="home-content">
    <%= image_tag "logo.png", alt: "Mooved Logo", class: "home-logo" %>
    <h1>Welcome to Mooved</h1>
    <p>Moving your business forward with reliable and easy truck rentals.</p>
    <p>Mooved connects you to trusted truck rental services, ensuring a smooth, efficient, and professional experience every time. Join us and make your next move with confidence.</p>
  </div>
</div>

<div class="truck-list">
  <h2>Available Trucks</h2>
  <table class="table-trucks">
    <thead>
      <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Price</th>
        <th>Photo</th>
      </tr>
    </thead>
    <tbody>
      <% @trucks.each do |truck| %>
        <tr>
          <td class="first-column">
            <% if user_signed_in? %>
              <%= link_to truck.title, truck_path(truck) %> <!-- Link to the truck details page -->
            <% else %>
              <%= link_to truck.title, new_user_session_path, class: "redirect-link" %> <!-- Redirect to login page -->
            <% end %>
          </td>
          <td><%= truck.description %></td>
          <td>$<%= truck.price %></td>
          <td>
            <% if truck.photo.attached? %>
              <%= image_tag truck.photo, alt: truck.title, class: "truck-photo" %>
            <% else %>
              <%= image_tag "https://d2e5b8shawuel2.cloudfront.net/vehicle/287160/hrv/original.jpg", alt: "Placeholder", class: "truck-photo", style: "width: 100px; height: 100px;" %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
